html
	head
		title Camera Output
		link(rel='stylesheet', href='/css/camera.css')
	body
		h2 Camera Output
    div(id='camera_div')
      img.className#IdName(src="/home/aedus/Projects/DronesDoingDroneThingsTwoPointOh/Images/drone1.png" alt="Drone 1 PNG")
		footer Copyright &copy; #{new Date().getFullYear()} Travis Valenti, James Wright, Tom Williams
