html
    head
        title Camera Output
        link(rel='stylesheet', href='/css/camera.css')
    body
        h2#header Camera Output
        #camera
          img(src="/home/aedus/Projects/DronesDoingDroneThingsTwoPointOh/Images/drone1.png" alt="Drone 1 PNG")
        footer Copyright &copy; #{new Date().getFullYear()} Travis Valenti, James Wright, Tom Williams
