<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=1000, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Drone Control</title>
	<style>
		td {
			width: 150px;
			height: 150px;
			text-align: center;
			border: 1px solid black;
			border-radius: 5px;
			font-size: 20px;
		}
		td:hover {
			background-color: #CCCCCC;
		}
	</style>
    <script src='fetchControlPage.js'></script>
</head>
<body>
    <label for='droneSelector'>Drone ID</label>
    <select id='droneSelector'>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
    </select>
	<table>
		<tr>
			<td onclick="fetchControlPage('counter')">CCW</td>
			<td onclick="fetchControlPage('front')">FRONT</td>
			<td onclick="fetchControlPage('clockwise')">CW</td>

		</tr>
		<tr>
			<td onclick="fetchControlPage('left')">LEFT</td>
			<td onclick="fetchControlPage('stop')">STOP</td>
			<td onclick="fetchControlPage('right')">RIGHT</td>
		</tr>
		<tr>
			<td onclick="fetchControlPage('takeoff')">TAKEOFF</td>
			<td onclick="fetchControlPage('back')">BACK</td>
			<td onclick="fetchControlPage('land')">LAND</td>
		</tr>
	</table>
</body>
</html>
