html
	head
		title Drones Doing Drone Things
		link(rel='stylesheet', href='/css/index.css')
		script(src='/js/fetchScripts.js')
		script(src='/js/gamepad.js')
	body
		h2 Drone Control
		div(id='selection_div')
		div(id='control_div')
			for clientCommand in clientCommands
				div(id=clientCommand.div_id onclick="sendCommand('" + clientCommand.command_name + "', " + defaultDegree + ")") #{clientCommand.div_contents}
		footer Copyright &copy; #{new Date().getFullYear()} Travis Valenti, James Wright, Tom Williams
