html
	head
		title Drones Doing Drone Things
		link(rel='stylesheet', href='/css/index.css')
		script(src='/js/fetchScripts.js')
	body
		h2 Drone Control
		div(id='selection_div')
		div(id='control_div')
			div(id="ccw" onclick="sendCommand('counter')") CCW
			div(id="forward" onclick="sendCommand('front')") FORWARD
			div(id="cw" onclick="sendCommand('clockwise')") CW
			div(id="left" onclick="sendCommand('left')") LEFT
			div(id="stop" onclick="sendCommand('stop')") STOP
			div(id="right" onclick="sendCommand('right')") RIGHT
			div(id="takeoff" onclick="sendCommand('takeoff')") TAKEOFF
			div(id="back" onclick="sendCommand('back')") BACKWARD
			div(id="land" onclick="sendCommand('land')") LAND
		footer Copyright &copy; #{new Date().getFullYear()} Travis Valenti, James Wright, Tom Williams
