body {
	margin: 0;
	background-color: #e6e9f0;
	display: grid;
	grid-template-areas:
	"header"
	"camera"
	"footer"
	;
	align-items: center;
	grid-gap: 20px;
	margin: 40px;

	font-family: arial;
	font-weight: bold;
}

#header {
	grid-area: header;
}

#camera {
  grid-area: Camera;
}

footer {
	grid-area: footer;
	text-align: center;
	font-weight: 100;
	font-style: italic;
}
