html
    head
        title #{gameName} Game
        link(rel='stylesheet', href='/css/index.css')
        script(src='/js/gameClient.js')
    body(onload="startGame()")
        h2(style="text-align: center; margin-bottom: 50px;")
            #{gameName} Game
        div(id='game_div')
            div(onclick='addDronesToGame()') ADD
            div(onclick='removeDronesFromGame()') REMOVE
